/* Relational Sphere */
:root {
    --primary-color: #db2777;
    --primary-dark: #be185d;
    --primary-light: #f472b6;
    --secondary-color: #8b5cf6;
    --accent-color: #ec4899;
    --accent-secondary: #10b981;
    --card-bg: #334155;
    --card-hover: #be185d;
    --sidebar-border: #be185d;
}